body{
  margin: 0;
  position: absolute;
  height: 100%; 
  width: 100%;
}

.header{
  z-index: 10; 
  position: fixed;
  width: 100%;
  color: gray;
  height: 18%;
  background-color: lightblue;
}

.header > a {
  position: relative;
  height: 100%;
  left: 15%;
  top: 10%;
  text-decoration: none;
}

.header > h1 {
  position: relative;
  left: 18%;
  top: -25%;
  display: inline-block;
}

img {
  max-height: 75%;
}

.sidebar{
  position: fixed;
  top: 18%;
  height: 80%;
  width: 15%;
  padding: 1% 2.5%;
  background-color: lightblue;
}

.side-button {
 border: none;
 border-radius: 2px;
 color: white;
 width: 100%;
 height: 10%;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 2em;
 background-color: royalblue; /*Placeholder: To-be-chosen-later*/
 margin: 5px 0px;
 cursor: pointer; /* Pointer/hand icon */
}

.sidebar > input {
  border: none;
  position:absolute;
  /*border-radius: 2px;*/
  background-color: royalblue;
  /*margin: -7px 0px;*/
  width: 50%;
  height: 2.8%;
  color: white;
  padding: 1% 7.5% 1% 2.5%;
}

.sidebar > input::placeholder{
  opacity: 1;
}

.sidebar > button#search{
  height: 3.9%;
  background-color: royalblue;
  margin-left: 80%;
  border: none;
  padding: 1% 7%;
  cursor: pointer; /* Pointer/hand icon */
}

.body {
  position: absolute;/*For fixing scroll bar*/
  top: 18%;
  left: 20%;
  width: 79%;
  height: 82%;
  margin-left: 1%;

}

/*Pretty horizontal line*/
.body > hr{
   margin-right: 40%;
   margin-top: -15px;
   margin-bottom: 10px;
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.3);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*For the input tables*/
.body > form{
  /*position: relative;*/
  top: 10%;
}

.body > form > input{
   /*border-style: solid;*/
   /*position: relative;*/
   margin-left: 20%
}

/*Pretty Paraghraph*/
.body > p{
   /*position: relative;*/
   font-family:"Georgia", sans-serif;
   margin-right:40%;
}

/*Search Page*/
/*Taken from https://www.w3schools.com/howto/howto_css_animated_search.asp*/
input[type=text].search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("search.png");
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text].search:focus {
    width: 60%;
}


/*For Displaying Clubs in Search Page*/
.body > .club-button{
  margin-right: 40%;
  margin-left: 2%;
}

.body > .club-button button {
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
    border: 2px solid #87CEEB;
    background-color: white;
    padding: 14px 40px; /* Some padding */
    color: black; /* White text */
    text-align: center;
    cursor: pointer; /* Pointer/hand icon */
    width: 30%;
    height: 10%;
    border-radius: 8px;
    transition-duration: 0.4s;
}

/* Add a background color on hover */
.body > .club-button button:hover {
   background-color: #6A5ACD; /* Light-Blue */
   /*color: white;*/
}

/*For Displaying Events in Search Page*/
.body > .event-table{
     margin-right:40%; 
     height: 500px;
     overflow:auto;
}

.body > .event-table table, th, td{
   padding: 10px;
   text-align: left;
}
.body > .event-table th, td{
   width: 19%;
   height: 40px;
   border-bottom: 1px solid #ddd;
}

.body > .event-table button{
   background-color: white;
   padding: 0px 0px;
   border: none;
   /*text-align: left;*/
}

.body > .event-table button:hover {
    background-color: #DCDCDC;
}

.body > .header-event-table {
   margin-right: 40%;
   background-color: lightblue;
   color: gray;
}

/*For Displaying Students in Search Page*/
.body > .student-button{
 margin-right: 40%;
}

.body > .student-button hr {
   margin-bottom: -10px;
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.3);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/*We display the result as list*/
/*url(".../images/picuter.png") didn't worked
url("images/picuter.png") didn't worked aswell*/
.body > .student-button li.major{
    list-style: circle inside url("diploma.png");
    background-repeat: no-repeat;
}
.body > .student-button li.college{
    list-style: circle inside url("house.png");
    background-repeat: no-repeat;
}
.body > .student-button li.email{
    list-style: circle inside url("email.png");
    background-repeat: no-repeat;
}
.body > .student-button ul{
 margin-left: -60px;
 margin-right: -40px;
 margin-bottom: -5px;
}
/*Generated list displayed inside the Button*/
.body > .student-button button{
    background-color: white;
    display:inline-block;
    margin-right:5px;
    margin-bottom:5px;
    border: 2px solid #87CEEB;
    background-color: white;
    padding: 14px 40px; /* Some padding */
    color: black; /* White text */
    text-align: left;
    cursor: pointer; /* Pointer/hand icon */
    width: 47%;
    height: 10%;
    border-radius: 8px;
}

/*Table didn't look as nice as the list*/
/*
.body > .student-button img{
    max-height: 15px;
}

.body > .student-button table, th, td{
   padding: 2px;
   text-align: left;
   margin-left : -30px;
   margin-right : 10px;
}
.body > .student-button th, td{
   margin-right: -1px;
   height: 10px;
}
*/

