body{
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family:"Georgia", sans-serif;
}

.header{
  position: fixed;
  width: 100%;
  color: gray;
  height: 18%;
  background-color: lightblue;
  z-index: 2;
}

.header > a {
  position: relative;
  height: 100%;
  left: 15%;
  top: 10%;
  text-decoration: none;
}

.header > h1 {
  position: relative;
  left: 18%;
  top: -25%;
  display: inline-block;
}

img {
  max-height: 75%;
}

.sidebar{
  position: fixed;
  top: 18%;
  height: 80%;
  width: 15%;
  padding: 1% 2.5%;
  background-color: lightblue;
}

.side-button {
 border: none;
 border-radius: 2px;
 color: white;
 width: 100%;
 height: 10%;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 2em;
 background-color: royalblue; /*Placeholder: To-be-chosen-later*/
 margin: 5px 0px;
 cursor: pointer;
}

.sidebar > input {
  border: none;
  border-radius: 2px;
  background-color: royalblue;
  margin: 5px 0px;
  width: 87.5%;
  height: 4%;
  color: white;
  padding: 1% 10% 1% 2.5%;
}

.sidebar > input::placeholder{
  opacity: 1;
}

#search{
  height: 4%;
  background-color: royalblue;
  margin-left: -15%;
  border: none;
  position: relative;
  top: 5px;
  width: 10%;
  padding: 0;
}

.body {
  position: absolute;
  top: 18%;
  left: 20%;
  width: 79%;
  height: 82%;
  margin-left: 1%;
}

/*Pretty horizontal line*/
.body > hr{
   margin-right: 40%;
   margin-top: -15px;
   margin-bottom: 10px;
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.3);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#logout {
  position: relative;
  float: right;
  top: 10%;
  right: 15%;
  height: 100%;
}
